@model Contact
<!-- Modal -->
<div class="modal fade" id="add-contact" tabindex="-1" role="dialog" aria-labelledby="addContactLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addContactLabel">등록 기체 정보</h5>
                <button type="button" data-dismiss="modal">X</button>
            </div>
            <div class="modal-body">
                <form asp-action="Contact">
                    <input name="IsValid" type="hidden" value="@ViewData.ModelState.IsValid.ToString()" />
                    <div class="row">
                        <div class="col">
                            <label class="control-label">드론식별ID</label>
                        </div>
                        <div class="col-4">
                            <input class="form-control input-sm" disabled="disabled" value="@Model.dronID" type="text">
                        </div>
                        <div class="col">
                            <label class="control-label">드론 종류</label>
                        </div>
                        <div class="col-4">
                            <input class="form-control input-sm" disabled="disabled" value="@Model.dronID" type="text">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <label class="control-label">용도</label>
                        </div>
                        <div class="col-4">
                            <input class="form-control input-sm" disabled="disabled" value="@Model.dronID" type="text">
                        </div>
                        <div class="col">
                            <label class="control-label">제작자</label>
                        </div>
                        <div class="col-4">
                            <input class="form-control input-sm" disabled="disabled" value="@Model.dronID" type="text">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <label class="control-label">모델명</label>
                        </div>
                        <div class="col-4">
                            <input class="form-control input-sm" disabled="disabled" value="@Model.dronID" type="text">
                        </div>
                        <div class="col">
                            <label class="control-label">보관처 주소</label>
                        </div>
                        <div class="col-4">
                            <input class="form-control input-sm" disabled="disabled" value="@Model.dronID" type="text">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <label class="control-label">제작 연월일</label>
                        </div>
                        <div class="col-4">
                            <input class="form-control input-sm" disabled="disabled" value="@Model.dronID" type="text">
                        </div>
                        <div class="col">
                            <label class="control-label">최대이륙중량</label>
                        </div>
                        <div class="col-4">
                            <input class="form-control input-sm" disabled="disabled" value="@Model.dronID" type="text">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <label class="control-label">카메라</label>
                        </div>
                        <div class="col-4">
                            <input class="form-control input-sm" disabled="disabled" value="@Model.dronID" type="text">
                        </div>
                        <div class="col">
                            <label class="control-label">안전성 인증서 번호</label>
                        </div>
                        <div class="col-4">
                            <input class="form-control input-sm" disabled="disabled" value="@Model.dronID" type="text">
                        </div>
                    </div>
                </form>
            </div>

          

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary text-center" data-dismiss="modal">확인</button>                
            </div>
        </div>
    </div>
</div>