@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model CustomDronViewModel 

@{ 
    ViewBag.Title = "DROM MAP";    
}
    
<h3>SIGN IN </h3>
<form class="form form-horizontal" method="POST">
    <div class="form-group">
        @*<img src="https://image.ibb.co/iKfYKx/computer.jpg" />*@
        <img src="~/images/DronIndexImg.jpg" />
    </div>
    <div class="form-group">
        <div class="col-md-3">
            <label>ID:</label>
            <input type="text" class="form-control" asp-for="@Model.DronIndex.CusID" />
            <span asp-validation-for="@Model.DronIndex.CusID"></span>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-3">
            <label>PW:</label>
            <input type="text" class="form-control" asp-for="@Model.DronIndex.PW" />
            <span asp-validation-for="@Model.DronIndex.PW"></span>
        </div>
    </div>
    <!--<button type="submit" class="btn btn-default">Submit</button>-->
    <button type="submit" class="btn btn-default">login</button>
</form>

@*<h3>Drons</h3>
<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Region</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var dron in Model.Dron)
        {
            <tr>
                <td>@dron.Name</td>
                <td>@dron.Region</td>
            </tr>
        }
    </tbody>
</table>
<hr />*@
